<h1>timeline<h1>
<%=form_tag '/write', method: 'post' do%>
    <textarea name="name"></textarea>
    <input type="submit"> 
<% end %>
<ul>
    <% @blogs.each do |b| %>
    <li><%=b.user.email%> : <%=b.content%>
    <%=form_tag action="/individual" do%>
        <input type='hidden' name="user_id" value="<%=b.user_id%>">
        <input type="submit" value="이 유저 블로그 모아보기">
    <%end%>
    <%=form_tag action="/comment" do%>
        <input type='hidden' name="blog_id" value="<%=b.id%>">
        <input type='text' name="comment">
        <input type="submit">
    <%end%>
    <ol>
    <% b.comments.each do |c| %>
        <li><%=c.user.email%> : <%=c.msg%>
        <% if c.user_id == current_user.id%>
        <%=form_tag action="/modify" do%>
            <input type='hidden' name="comment_id" value="<%=c.id%>">
            <input type='text' name="comment2">
            <input type="submit" value="modify">
        <%end%>
        <%=form_tag action="/delete" do%>
            <input type='hidden' name="comment_id" value="<%=c.id%>">
            <input type="submit" value="delete">
        <%end%>
        <%end%>
        </li>
    <%end%>
    </ol>
    </li>
    <%end%>
</ul>